@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: black;
  background-color: #fffbf0;
}

.navbar {
  background-color: #fffbf0;

}

.formal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.formal input {
  border: 2px solid black;
  padding: 0.2rem;
  border-radius: 5px;
  width: 15rem;
}

.formal textarea {
  border: 2px solid black;
  padding: 0.2rem;
  border-radius: 5px;
  width: 15rem;
}

.formal button {
  border: 2px solid black;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-weight: 500;
}

.main {
  background-color: #e4daaf;
  background-image: linear-gradient(180deg, #ebd28d, #423e2d);
}

.btn button {
  border: 2px solid black;
}

.mainbtn {
  background-color: black;
  color: #ebe8dc;
  margin-right: 0.5rem;
}

.temp {
  background-color: #e4daaf82;
  border: 2px solid #77725e;
}

.temp h1 {
  font-size: 1.3rem;
  font-weight: bold;
}

.temp h2 {
  font-size: 0.8rem;
}

.upper h1 {
  margin-bottom: -5px;
}

.texter {
  font-size: 1.2rem !important;
}

.searcher {
  color: black;
  border: 2px solid;
  border-radius: 5px;
  padding: 2px;
  background-color: transparent;
  width: 8rem;
}

.options button {
  background-color: black;
  color: white;
  font-size: larger;
  border: 2px solid black;
  padding: 0rem 0.8rem;
  border-radius: 5px;
}

.drop {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 60%;
}
.downer{
  background-color: #fffbf0;
}
.logoutbtn {
  background-color: transparent !important;
  border: none !important;
  color: black !important;
}

.info {
  background-color: black;

  color: white;
  margin: 0%;
  padding: 1.2rem;
}

.bgier {
  background-image: linear-gradient(180deg, #423e2d, black);
}


.lootie {
  height: 20rem;
}

.lootie2 {
  height: 15rem;
}

.area {
  max-width: 40rem;
}

.line {
  border-left: 2px solid black;
  height: 10rem;
  width: 0;
}

hr {
  width: 2.5rem;
  border-color: black;
  background-color: black;
}

.number {
  font-size: 1.5rem;
  background-color: #724726;
  color: #F6FFEA;
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
}

.about {
  color: white;
  padding: 1rem;
  padding-top: 7rem !important;
  background-image: linear-gradient(180deg, black, #70653c);
}

@media screen and (max-width:1200px) {
  .info2 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .btn {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .lootie {
    margin-bottom: -2rem;
    margin-top: -1rem;
  }

  .lootie2 {
    margin: 1rem;
  }
}