@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


body {
  color: black;
  background-color: #fffbf0;
  font-family: "Open Sans", sans-serif !important;
}

.space {
  font-family: "Space Grotesk", sans-serif !important;
}

.navbar {
  background-color: #fffbf0;
  z-index: 10;
  position: relative;
}
.card{
  background-color: black;
}

.formal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* max-width: 2rem; */
}

.formal form {
  background-color: #ebe8dc;
  padding: 3rem;
  border-radius: 10px;
  border: 1px solid;
}

.formal input{
  border: 2px solid black;
  padding: 0.2rem;
  border-radius: 5px;
  width: 15rem;
}

.formal textarea {
  border: 2px solid black;
  padding: 0.2rem;
  border-radius: 5px;
  width: 15rem;
}

.formal button {
  border: 2px solid black;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  color: white;
  background-color: black;
  font-weight: 500;
}
.align{
  position: relative;
  right: 2rem;
}
.main {
  color: white;
  /* background-color: #fffbf0; */
  /* background-image: linear-gradient(180deg, rgb(3 4 7), black); */
  /* box-shadow: 0px 9px 20px 0px black; */
  /* z-index: 100; */
  position: relative;
}

.btn button {
  border: 2px solid white;
  font-weight: 200;
}

.mainbtn {
  background-color: rgb(255, 255, 255);
  color: #000000;
  margin-right: 0.5rem;
  font-weight: 900 !important;
}

.temp {
  /* background-color: #e4daaf82; */
  border: 2px solid #e4daaf;
}

.temp h1 {
  font-size: 1.3rem;
  font-weight: bold;
}

.temp h2 {
  font-size: 0.8rem;
}

.upper h1 {
  margin-bottom: -5px;
}

.texter {
  font-size: 1.2rem !important;
  font-weight: 800;
}

.texter2 {
  position: relative;
  top: -15px;
  right: -12px;
  font-size: 10px !important;
  color: wheat;
}
.texter3{
  position: relative;
  right: -12px;
  font-size: 15px !important;
  color: wheat;
  top: -30px;
}
.mini{
  font-size: 10px !important;
  color: black;
}
.miniplus{
  font-size: 13px !important;
}
.scrollbar{
  font-size: 10px !important;
}
.scrollbar::-webkit-scrollbar{
    display: none;  /* Safari and Chrome */
}
#small{
  font-size: 13px;
}
.searcher {
  color: black;
  border: 2px solid;
  border-radius: 5px;
  padding: 2px;
  background-color: transparent;
  width: 8rem;
}

.options button {
  background-color: black;
  color: white;
  font-size: larger;
  border: 2px solid black;
  padding: 0rem 0.8rem;
  border-radius: 5px;
}
.likebtn{
  user-select: none;
  transition: transform 0.5s ease, color 5.4s ease;
  color: rgb(228 218 175) !important;
}
.likebtn:active{
  animation-name: example;
  animation-duration: 1s;
  transform: scale(1.3);
  color:  red;
}
@keyframes example {
  from {color: red;}
  to {color: red;}
}
.trailsText {
  overflow: hidden;
  will-change: transform, opacity;
}
.mouse{
  background-image: linear-gradient(180deg, black, #492d0a);
  color: white;
  padding: 0rem 6rem;
  gap: 1rem;
  flex-wrap: wrap;
}
.drop {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 60%;
}

.downer {
  background-color: #fffbf0;
}

.downer2 {
  background-color: antiquewhite;
  border: 1px solid rgb(196, 167, 129);
  border-radius: 10px;
}

.logoutbtn {
  background-color: transparent !important;
  border: none !important;
  color: black !important;
}

.info {
  background-color: black;
  gap: 3rem;
  color: white;
  margin: 0%;
  padding: 1.2rem;
}

.blicker {
  top: 2rem;
  z-index: 1001 !important;
}

.bgier {
  /* background-image: linear-gradient(180deg, #363326, black); */
  background-image: linear-gradient(180deg, #492d0a, black);
}

.video-container {
  position: relative;
  /* width: 100%;
  height: 100%; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.content {
  position: relative;
  top: 10rem;
  z-index: 1;
  color: #fff;
  text-align: center;
  height: 30rem;
  font-size: 5rem;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif !important;

}

.logo {
  filter: invert(1);
}

.lootie {
  height: 20rem;
}

.lootie2 {
  height: 15rem;
}

.area {
  max-width: 40rem;
}

.line {
  border-left: 2px solid black;
  height: 10rem;
  width: 0;
}

hr {
  width: 2.5rem;
  border-color: black;
  background-color: black;
}

.number {
  font-size: 1.5rem;
  background-color: #724726;
  color: #F6FFEA;
  height: 3rem;
  width: 3rem;
  border-radius: 100px;
}

.about {
  color: white;
  padding: 1rem;
  padding-top: 7rem !important;
  background-image: linear-gradient(180deg, black, #70653c);
}

.midder {
  background-color: white;
  position: absolute;
  z-index: 100;
}

#midderplus {
  display: flex;
  justify-content: center;
}

.btnclass {
  background-color: #423e2d;
  margin: 0;
  padding: 0.2rem;
  /* overflow-x: scroll; */
}

.linebtn {
  background-color: #e4daaf;
  font-weight: 700;
  border: 2px solid white;
  padding: 0.1rem 1rem;
  border-radius: 20px;
  text-wrap: nowrap;
}

.small {
  width: 3rem !important;
  padding: 0% !important;
  height: 2rem;
}

.mooder {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 0;
  width: auto;
  height: 8rem;
  padding: 0.5rem 1rem;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.closer {
  cursor: pointer;
}

.closer h1 {
  padding: 0.3rem 0.8rem;
}

@media screen and (max-width:500px) {
  .content {
    top: 5rem;
    font-size: 4rem;
  }
  .mouse{
    padding: 0rem 1rem;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;
  }
  .mouse div h1{
    margin-left: 0;

  }
}

@media screen and (max-width:1200px) {
  .info2 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .btn {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .lootie {
    margin-bottom: -2rem;
    margin-top: -1rem;
  }

  .lootie2 {
    margin: 1rem;
  }
}